openapi: 3.2.0
info:
  title: CDP Public Maintainer Roles API
  version: 1.0.0
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  description: "Public REST API for the Community Data Platform (CDP). Provides transactional endpoints for identity verification, work experience management, project affiliations, and contributor lookup.\n\nTwo authentication methods are supported depending on the endpoint:\n- **OAuth 2.0 Bearer (Auth0)** — used by LFX One for member, organization,\n  and affiliation management endpoints.\n\n- **Static API Key** — bearer token with scopes managed in the CDP database.\n"
servers:
- url: https://cm.lfx.dev/api/v1
  description: Production
- url: https://lf-staging.crowd.dev/api/v1
  description: Staging
security: []
tags:
- name: Maintainer Roles
  description: Retrieve maintainer roles for a member.
paths:
  /members/{memberId}/maintainer-roles:
    get:
      operationId: getMemberMaintainerRoles
      summary: List maintainer roles
      description: Retrieve all maintainer roles for a member across projects.
      tags:
      - Maintainer Roles
      security:
      - OAuth2Bearer:
        - read:maintainer-roles
      parameters:
      - $ref: '#/components/parameters/MemberId'
      responses:
        '200':
          description: Maintainer roles retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                required:
                - maintainerRoles
                properties:
                  maintainerRoles:
                    type: array
                    items:
                      $ref: '#/components/schemas/MaintainerRole'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/MemberNotFound'
components:
  schemas:
    MaintainerRole:
      type: object
      required:
      - id
      - memberId
      - segmentId
      - role
      - url
      - repoType
      properties:
        id:
          type: string
          format: uuid
        memberId:
          type: string
          format: uuid
        segmentId:
          type: string
          format: uuid
        dateStart:
          type:
          - string
          - 'null'
          format: date
          description: Start date of the maintainer role.
        dateEnd:
          type:
          - string
          - 'null'
          format: date
          description: End date of the maintainer role, or null if current.
        url:
          type: string
          description: Repository URL.
        repoType:
          type: string
          enum:
          - github
          - gitlab
          - git
          - gerrit
          description: Repository platform type.
        role:
          type: string
          description: Role name (e.g. maintainer, committer).
        maintainerFile:
          type:
          - string
          - 'null'
          description: Path to the maintainer file in the repository, if applicable.
    HttpError:
      type: object
      required:
      - error
      properties:
        error:
          type: object
          required:
          - code
          - message
          properties:
            code:
              type: string
              description: Machine-readable error code.
            message:
              type: string
              description: Human-readable error description.
  responses:
    MemberNotFound:
      description: No member found with the given ID.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/HttpError'
          example:
            error:
              code: NOT_FOUND
              message: Member not found
    Forbidden:
      description: Authentication valid but insufficient scopes.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/HttpError'
          example:
            error:
              code: INSUFFICIENT_SCOPE
              message: Insufficient scope for this operation
    Unauthorized:
      description: Missing or invalid authentication credentials.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/HttpError'
          example:
            error:
              code: UNAUTHORIZED
              message: Invalid or missing authentication
  parameters:
    MemberId:
      name: memberId
      in: path
      required: true
      description: UUID of the member.
      schema:
        type: string
        format: uuid
  securitySchemes:
    OAuth2Bearer:
      type: oauth2
      description: 'OAuth 2.0 client credentials flow via Auth0. The consuming service obtains a JWT using its client ID and secret, then passes it as `Authorization: Bearer <token>`

        '
      flows:
        clientCredentials:
          tokenUrl: https://linuxfoundation.auth0.com/oauth/token
          scopes:
            read:members: Read member profiles
            write:members: Create member profiles
            read:member-identities: Read member identities
            write:member-identities: Create and verify member identities
            read:maintainer-roles: Read maintainer roles
            read:work-experiences: Read work experiences
            write:work-experiences: Create, update, verify, and delete work experiences
            read:project-affiliations: Read project affiliations
            write:project-affiliations: Override project affiliations
            read:organizations: Look up organizations
            write:organizations: Create organizations
    StaticApiKey:
      type: http
      scheme: bearer
      description: 'Static API key — pass as `Authorization: Bearer <token>`. Keys are managed in the CDP database with SHA-256 hashing, expiration, and revocation support.

        '
